@media only screen and (min-width: 650px) {
    :root {
        --main-blue: rgb(18, 123, 188);
    }

    body {
        background-image: url('/images/site/small_check.jpg');
    }

    body h1 {
        font-size: 2rem;
    }

    nav ul li {
        padding: 10px 40px;
    }

    #wrapper {
        line-height: 1.6;
        border: solid 5px var(--main-blue);
        border-radius: 10px;
    }

    .delorean-image {
        width: 45vw;
    }

    .card {
        width: 240px;
        padding: 20px;
    }

    .own-today {
        width: 200px;
    }

    .card h2 {
        font-size: 1.8rem;
    }

    .card p {
        font-size: 1.4rem;
    }

    .upgrades-container {
        width: 450px;
        grid-template-columns: 1fr 1fr;
    }

    .upgrades-container h3 {
        margin-bottom: 0;
        grid-column: span 2;
    }

    .reviews-container {
        width: 450px;
    }

    .main-sections {
        gap: 40px;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        flex-direction: row;
    }
}